<nav class="navbar  navbar-expand-lg bg-primary " data-bs-theme="dark">
    <div class="container-fluid">
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" routerLink="/" routerLinkActive="active">Home</a>
                </li>
                <li>
                    <a class="nav-link active " aria-current="page" routerLink="/roman-integer"
                        routerLinkActive="active">ToInteger</a>
                </li>
                <li>
                    <a class="nav-link active" aria-current="page" routerLink="/integer-roman"
                        routerLinkActive="active">ToRoman</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<router-outlet />