<nav class="navbar  bg-body-tertiary " data-bs-theme="dark">

  <div class="container-fluid">
   
      <ul class="navbar-nav">
        <form class="container-fluid justify-content-start">
          <button class="btn btn-outline-primary btn-sm me-3 px-1 py-0" type="button">
            <a class="nav-link active" aria-current="page" routerLink="/" routerLinkActive="active">Home</a>
          </button>
          <button class="btn btn-outline-primary btn-sm me-1 px-1 py-0" type="button">
            <a class="nav-link active " aria-current="page" routerLink="/roman-integer" routerLinkActive="active">To Integer</a>
          </button>
          <button class="btn btn-outline-primary btn-sm me-1 px-1 py-0" type="button">
            <a class="nav-link active" aria-current="page" routerLink="/integer-roman" routerLinkActive="active">To Roman</a>
          </button>
        </form>
      </ul>
     
      <div class="text-white px-1">Environment: <u><i>{{environmentName}}</i></u></div>
  </div>
</nav>


<router-outlet />