<div class="container mt-3">
    <h1 >How to Convert to or from Roman Numerals</h1>
    <p></p>
    <h5>How to Convert from Integer Roman Numerals</h5>
    <p>Enter any number between 1 and 3999 into the field labeled <strong><i>Number</i></strong>.</p>
    <p>The calculator will convert the <i><strong>Integer</strong></i> into a <i><strong>Roman numeral</strong></i>.</p>
    <h5>How to Convert from Roman Numeral to Integer</h5>
    <p>You can also enter Roman numerals (letters <i><u>M</u></i>, <i><u>D</u></i>, <i><u>C</u></i>, <i><u>L</u></i>, <i><u>X</u></i>, <i><u>V</u></i>, and <i><u>I</u></i>) into the field labeled <strong><i>Roman number</i></strong>.</p>
    <p>The calculator will convert it into an Integer.</p>

 
</div>